<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
<div th:if="${owner}">
    <span>Book holder now is: </span><span th:text="${owner.getFullName()}"></span>
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release book">
    </form>
</div>
<div th:if="${people}">
    <span>This book is available. Please choose new owner</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="choose person">
            Choose person
        </label>
        <select th:object="${person}" th:field="*{id}" id="choose person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFullName()}">

            </option>
        </select>
        <input type="submit" value="Assign book">
    </form>
</div>
<hr/>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Edit">
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${id})}">
    <input type="submit" value="Delete">
</form>
<form th:method="GET" th:action="@{/books}">
    <input type="submit" value="back">

</form>
</body>
</html>